//设计图宽度
//$ue-width:375;

//border color
$color-line-row: #B0B1B1;
$color-line-col: #B0B1B1;
$color-line-border: #B0B1B1;

// background color
$color-background-header: #097de6;
$color-background-header-t: transparent;

// font-size
$font-size-large-xxxx: 30px;
$font-size-large-xxx: 24px;
$font-size-large-xx: 20px;
$font-size-large-x: 18px;
$font-size-large: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-small-s: 10px;

//font color
$color-font-grey: #333;
$color-font-grey-s: #666;
$color-font-grey-ss: #999;
$color-font-grey-sss: #ccc;
$color-font-grey-ssss: #fff;

